<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nobulijava">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NobuliJava">
        <!-- Admin Activity -->
        <activity
            android:name=".activity.AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SetNewsListActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nobulijava.activity.AdminDashboardActivity" />
        </activity>
        <activity
            android:name=".activity.SetQuizListActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nobulijava.activity.AdminDashboardActivity" />
        </activity>
        <activity
            android:name=".activity.SetQuizDetailsActivity"
            android:exported="false" />
        <!-- User Activity -->
        <activity
            android:name=".activity.UserDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AboutActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nobulijava.activity.UserDashboardActivity" />
        </activity>
        <activity
            android:name=".activity.ChatBotActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nobulijava.activity.UserDashboardActivity" />
        </activity>
        <activity
            android:name=".activity.TakeQuizActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nobulijava.activity.UserDashboardActivity" />
        </activity>
        <activity
            android:name=".activity.ReadNewsListActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nobulijava.activity.UserDashboardActivity" />
        </activity>
        <activity
            android:name=".activity.ReportActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nobulijava.activity.UserDashboardActivity" />
        </activity> <!-- Login Signup -->
        <activity
            android:name=".activity.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>